{% extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
LSTM
{% endblock %}

{% block body %}
  <div class="content-section">
    <form method="POST" >
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">LSTM</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">
        Predict
        </button>
      </div>
    </form>
  </div>

  {% if graphic %}
    <div class="d-flex justify-content-center">
      <img src="data:image/png;base64, {{ graphic|safe }}" alt="graph">
    </div>
  {% endif %}

    <table class="table mt-3">
      <thead>
        <tr>
          {% for column in df.columns %}
            <th class="table-secondary">{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for index, row in df.iterrows %}
          <tr>
            {% for item in row %}
              <td>{{ item }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Predicted Cases</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1>{{ pred }}</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock body %}